
.header-logo {
    height: 50px;
}


.nav-item .dropdown-menu {
    display: none;
}

.nav-item:hover .dropdown-menu {
    display: block;
}


.image-container {
    position: relative;
}


.image-container img {
    width: 200px; 
    height: 100px;
    border-radius: 0.5rem; 
    object-fit: cover; 
}


.custom-img {
    width: 100%;
    max-width: 1584px; 
    height: 396px;
    object-fit: cover;
}


.image-overlay {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
